body {
    font-family:Calibri;
    font-size:.75em;
}
table {

}
th {
    background-color:#000000;
    color:#ffffff;
    font-weight:bolder;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}
td {
    padding-top:5px;
    padding-bottom:5px;
}
.highlight {
    background-color:lime;
}