<rules>
	<rule name="Rule0" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^events-conferences/exhibit-produce-pavilion-national-grocers-association-show" />
		<action type="Redirect" url="http://www.pma.com/events/nga" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^www.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule1" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^sites/default/files/Approved%20Contractors%20-%20Fresh%20Summit%202014_0.pdf" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/approved-vendor-list" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule2" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-resources/marketing-toolbox/sensory-experience-contest" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/expo-contests/sensory-experience-contest" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule3" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-resources/exhibitor-marketing-toolbox/contests" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/expo-contests" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule4" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/current-exhibitor-resources/long-time-exhibitor-benefits" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/milestone-exhibitor-benefits" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule5" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-resources/marketing-toolbox/best-of-show" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/expo-contests/best-of-show-contest" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule6" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-resources/marketing-toolbox/fromtheaisle" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/expo-contests/best-of-show-contest/tips-from-the-judges" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule7" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-resources/marketing-toolbox/finalists" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/expo-contests/best-of-show-contest/winners-and-finalists" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule8" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/become-exhibitor-0/whats-included-your-booth" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/become-an-exhibitor/whats-included-with-your-booth" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule9" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^program/events-activities/foodservice-produce-expo" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/program/events-and-activities/foodservice-produce-expo" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule10" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-resources/exhibitor-service-kit" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/service-kit" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule11" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-resources/new-products-showcase" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/new-products-showcase" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule12" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-resources/first-time-exhibitor" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/first-time-exhibitor-benefits" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule13" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^program/events-activities/pma-foundation-events" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/program/Events and Activities/5k race for talent" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule14" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^program/events-activities/pma-foundation-events" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/program/events-and-activities/joe-nucci-golf-tournament" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule15" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^program/events-activities/pma-foundation-events" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/program/events-and-activities/womens-fresh-perspectives-reception" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule16" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-resources/badge-registration" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/badge-registration" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule17" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-resources/exhibitor-warnings" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/exhibitor-warnings" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule18" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-resources/future-event-dates" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/future-events" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule19" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^registrationtravel/hotel-reservation-policies" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/attendees/registration" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule20" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/booth-assignments-and-cancellations-0" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/booth-assignment-policies" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule21" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-resources/directory-listing" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/directory-listing" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule22" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-resources/marketing-toolbox" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/marketing-toolbox" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule23" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/current-exhibitor-resources/schedule" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/exhibitor-schedule" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule24" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^program/events-activities/field-plant-tour" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/program/Events and Activities/Field and Plant Tour" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule25" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^advertiserssponsors/current-opportunities" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/sponsor/explore-current-opportunities" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule26" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-resources/attendee-list" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/attendee-list" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule27" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^about/pma-foodservice-conference-expo" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/about/foodservice conference" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule28" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^about/foodservice-planning-committee" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/about/foodservice planning committee" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule29" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/current-exhibitor-resources" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule30" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^program/2013-conference-highlights" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule31" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^registrationtravel/hotel-air-rail" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/attendees/travel" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule32" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^advertiserssponsors/2013-sponsors" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/sponsor/current-year-sponsors" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule33" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^advertiserssponsors/why-sponsor" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/sponsor/why-sponsor" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule34" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/2014-booth-application" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/become-an-exhibitor/booth-application" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule35" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibitors/current-exhibitors" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/exhibitors/current-exhibitors" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule36" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^hotel-reservations/hotel-faqs" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/housing-faqs" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule37" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibitors/become-exhibitor" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/exhibitors/become-an-exhibitor" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule38" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^program/education/sessions" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/program/educational sessions" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule39" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^program/events-activities" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/program/events and activities" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule40" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^media/photo-video-gallery" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/media/photo and video gallery" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule41" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/exhibitor-housing" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/exhibitor-housing" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule42" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/become-exhibitor" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/become-an-exhibitor" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule43" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit/2014-booth-rates" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/become-an-exhibitor/booth-rates" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	
<rule name="Rule67" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^mycommunity" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/program/events-and-activities/my-communities" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule44" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^about/boards-committees" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/about/exhibitor-advisory-committee" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^www.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule45" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^program/message-chairs" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/program/message-from-the-chairs" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule46" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^attendees/who-attended" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/attendees/who attends" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule47" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^media/media-resources" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/media/media resources" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule48" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^attendees/why-attend" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/attendees/why attend" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule49" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^media/media-partners" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/media/media partners" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule50" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^media/press-releases" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/media/press releases" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule51" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^attendees/recipes" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/attendees/2013 recipe book" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule52" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^program/speakers" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/program/speakers" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule53" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^%3Cfront%3E/faqs" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/help" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule54" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^eatbrighter" />
		<action type="Redirect" url="http://sesamestreet.pma.com/" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^www.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule55" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibitors" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/exhibitors" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule56" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^attendees" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/attendees" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule57" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^about/pma" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/about/pma" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule58" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^sponsors" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/sponsor" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule59" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^node/154" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule60" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^program" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/program" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule61" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^media" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/media" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule62" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^about" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/about" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule63" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^(.*)" />
		<action type="Redirect" url="http://www.pma.com/events/foodservice/2014/" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^fsc.pma.com$" />
		</conditions>
	</rule>
	<rule name="Rule64" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^(.*)" />
		<action type="Redirect" url="http://www.pma.com/{R:0}" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^pma.com$" />
		</conditions>
	</rule>


	<rule name="Rule68" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^directory" />
		<action type="Redirect" url="http://s15.a2zinc.net/clients/pma_freshsummit/2014/public/eventmap.aspx" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>

	<rule name="Rule69" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^workshops" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/program/educational-sessions" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>

	<rule name="Rule70" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^generalsessions" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/program/speakers" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>

	<rule name="Rule71" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^register" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/attendees/registration" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>

	<rule name="Rule72" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^exhibit" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/become-an-exhibitor" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>

	<rule name="Rule73" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^sponsorship" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/sponsor" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>

	<rule name="Rule74" patternSyntax="ECMAScript" stopProcessing="true">
    		<match url="^exhibitor-resources" />
    		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-		resources/booth-assignment-policies" redirectType="Found" />
    		<conditions>
      			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
    		</conditions>
  	</rule>

	<rule name="Rule75" patternSyntax="ECMAScript" stopProcessing="true">
    		<match url="^delivery-form" />
    		<action type="Redirect" url="http://fs12.formsite.com/pmameetingforms/FridayProductDelivery/index.html" 		redirectType="Found" />
    		<conditions>
      			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
    		</conditions>
  	</rule>
  <rule name="Rule76" patternSyntax="ECMAScript" stopProcessing="true">
    <match url="^exhibitor-policies" />
    <action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014/exhibit/exhibitor-resources/booth-assignment-policies." 		redirectType="Found" />
    <conditions>
      <add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
    </conditions>
  </rule>
	<rule name="Rule65" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^(.*)" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(www\.)?freshsummit.com$" />
		</conditions>
	</rule>
	<rule name="Rule66" patternSyntax="ECMAScript" stopProcessing="true">
		<match url="^(.*)" />
		<action type="Redirect" url="http://www.pma.com/events/fresh-summit/2014" redirectType="Found" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^freshsummit.com$" />
		</conditions>
	</rule>



</rules>